*
 {
  box-sizing: border-box;
}

body {
background-color: #f3f7ff;
margin-right: 0;
font-family:sans-serif;
display: flex;
flex-direction: row;
}

  .calc-container {
    display: flex;
    flex-wrap: column;
}

.form-container{
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  padding-left: 100px;
}


.img-container {
    width: 60%;
    display: flex;
    align-items: left;
    padding-left: 100px;
}


.image {
width: 100%;

}

.gender-btns {
    margin-left: 0;
    padding-left: 0;
    align-items: right;
    margin-bottom: 35px;
}

.gender {
    width:  100px;
    height: 100px;
    background-color: white;
    margin: 0 10 0 0;
    border: transparent;
    box-shadow: 0 0 5px rgba(51, 59, 69, 0.1);
    border-radius: 10%;
    cursor: pointer;
}

.gender:hover {
    transition: 0.5s;
    box-shadow: 0 0 20px rgba(51, 59, 69, 0.1);
}

.gender * {
    display: flex;
    align-items: center;
    margin: auto;
}


h4 {
    margin: 1px auto;
}


.submit {
    display: inline-block;
    margin: 20px 10px;
    background-color: #fdad36;
    margin-top: 5px;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    border: transparent;
    cursor: pointer;
}

.submit:hover {
    transition: 0.2s;
    background-color: #a792fb4d;
}

.reset {
    display: inline-block;
    margin: 20px 0;
    background-color: #4e4e4e;
    color: white;
    margin-top: 5px;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    border: transparent;
    cursor: pointer;
}

.reset:hover {
    transition: 0.2s;
    background-color: #fd3636;
}

input {
    width: 200px;
    height: 4vh;
    border-radius: 10px;
    border: 2px solid #acaaaa;
    padding: 14px;
    margin-bottom: -40px;

    
}

.parameter {
    background-color: white;
    width: 50px;
    margin-left: 12px;
    margin-bottom: -9px;
    position: relative;
    font-size: 12px;
    color: #727272;
    text-align: center;
}

#heightError {
    font-size: 12px;
    margin: 25px auto 30px auto;
    color: red;
    visibility: hidden;
}

#weightError {    
    font-size: 12px;
    margin: 25px auto 30px auto;
    color: red;
    visibility: hidden;
}

#genderError {    
    font-size: 12px;
    margin: 10px auto -20px auto;
    color: red;
    visibility: hidden;
}

.result-container{
position: fixed;
margin-top: 30px;
}

#happy-female{
    display: none;
}

#happy-male{
    display: none;
}


#sad-female{
    display: none;
}

#sad-male{
    display: none;
}

#waiting {
    display: block;
}

#heading{
    color: #A691FB;
    font-size: 50px;
}

@media  screen and (max-width: 845px){
   .gender {
        width:  80px;
        height: 80px;
    }

    .calc-container{
        margin-left: -100px;
    }

}


@media screen and (max-width: 600px){

    body {
        align-items: center;
    }

    .calc-container {
        display: flex;
        flex-direction: column;
        flex-wrap: column;
        align-items: center;
    }

 
    .form-container{
        width: 100%;
        display: flex;
        align-items:center;
        text-align: center;
        flex-direction: column;
    }

    .result-container{
        position: relative;
        font-size: 12px;
    }

    .img-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parameter {
        width: 50px;
        margin-left: 0;
        margin-bottom: -9px;
        position: relative;
        font-size: 12px;
        color: #727272;
        text-align: center;
    }

    #heightError {
    margin: 45px auto 10px auto;
    }

    #weightError {    
    margin: 45px auto 10px auto;
    }
}